<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">   
    
<!--
    instagram: www.instagram.com/programmingtutorial
    site: programlamadersleri.net
-->

<footer>
    
    
    
        <div class="row text-center">   
            <div class="col-lg-6 col-lg-offset-3">
                <ul class="menu">
                           
                    <li>
                        <a href="/about">About</a>
                    </li>
                           
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                           
                           
                    <li>
                        <a href="#">Terms Of Use</a>
                    </li>
                </ul>
            </div>
        </div>
   
</footer>


<div class="copyright">
   <div class="container">
   
     <div class="row text-center">
     	<p>Copyright © 2019 All rights reserved</p>
     </div>
     
    </div>
</div>