<html>
  <style>

 .cont{
       
       text-align: center;        
padding-left: 80px;
padding-right: 80px;

   }

   .goal{
    padding-left: 80px;
padding-right: 80px;
   }
  
  
  </style>
  <body>
    <div class="cont">

<h2>Serey philosophy</h2>
<p class="text-justify">We at Serey believe that every Cambodian individual knows just a fraction of what is collectively known. Believing that the nature of our collective knowledge is therefore inherently decentralized, we would like to encourage sharing of the unique information that the individual possesses through the Serey platform. Understanding that we ourselves don’t know everything is an epistemologically modest position that we hold in every decision we take in building Serey. The Serey platform is a gift to the Cambodian people, and it is up to the community to determine what is high quality content and which authors deserve the most votes.</p>
<br>
<br>
<h2>The educational perspective</h2>
<p class="text-justify">In addition, we believe that the Serey platform contributes to the education of its participants. In our view:

      Writing teaches us to keep our eyes calm and to withhold judgements. It encourages us to look at issues from different perspectives as if our eyes are a prism that catches light from as many angles as possible. Someone who is trained to view things from different perspectives is less dogmatic and is more willing to admit his views are wrong and to change them accordingly;<br>
      
      Writing teaches us to think. It takes patience and reflection on ideas to write something down.
      <br>
      In other words, the Serey platform encourages the participant to learn to dance with ideas, with words, and with the pen. Our ideas are meant to be spread and communicated. If not communicated toward others, at least communicated to ourselves.
    </p>
  </div><br><br>
  <div class="goal">
    <div class="text-center"><h2>Goals</h2></div>
    <ol>
      <li>To bootstrap the familiarity of the Cambodian people with blockchain technology and cryptocurrencies through the power of a social media platform;</li>
<br>
<li>To encourage sharing ideas and interests by rewarding content with Serey coin;</li>
    <br>     
    <li>To provide a platform for discussion and knowledge sharing;</li>
        <br> 
        <li>To provide a free market solution to centralized information storage through the decentralization of information.</li>
    </ol>
  </div>
  </body> 
  </html>