<html>
    <style>
    .cont{
       
        text-align: center;        
padding-left: 350px;
padding-right: 350px;


    }
</style>
<body><h2 class="text-center">
    World Cup squad announced for team India!!!
</h2><br>
<img src="/assets/images/img2.jpg" class="rounded mx-auto d-block" ><br>
<div class="cont"><p class="text-justify">Everyone is busy watching the Indian premier league and they even don't know about the team selected for the upcoming world cup in England. In Indian premier league royal challengers, Bangalore and Rajasthan Royals were not up to mark till now and have win 1 and 2match respectively so far. First, Kohli is leading royal challengers to Bangalore and so masses are believing that what will happen to team India if Virat Kohli does the same thing in England. but there is a great difference between the world cup and T20 league.<br><br>

    Many people are showed as the squad announced no one predicted that Ambati Raydu and Rishabh pant had to sit at home and also they will not able to play in the world cup team. Apart from this 2011 world cup hero Yuvraj Singh and surest Raina are also out of form and so there is no place for them also. Kohli had announced that Indian premier league will not matter for the selection of players looking at their performance in Indian premier league.
    <br><br>
    Virat Kohli is the skipper for team India and he will lead the team along with vice-captain Rohit Sharma. Openers are fixed as Rohit Sharma will open with Shikhar Dhawan and also they are good in form in ODI and had a good partnership record with their name. Indian selectors included only 3 fast bowlers in their team which will be the wrong choice because in England pitch faster play an important role then spinner and are capable to take wickets in bouncing pitch.
    <br><br>
    Indian cricket squad for the world cup in England<br>
    1)Virat Kohli<br><br>
   
    
    2)Rohit Sharma<br><br>
    
    3)Shikhar Dhawan<br><br>
    
    
    4)K.L.Rahul<br><br>
    
    5)Kedar Jadhav<br><br>
    
    6)M.S.Dhoni<br><br>
    
    7)Dinesh Kartik<br><br>
    
    
    8)Vijay Shankar<br><br>
    
    9)Ravindra Jadeja<br><br>
    
    10)Hardik Pandya<br><br>
    
    11)Bhuvneshwar Kumar<br><br>
    
    12)Yuzvendra Chahal<br><br>
    
    13)Kuldeep Yadav<br><br>
    
    14)Mohammad Shami<br><br>
    
    15)Jasprit Bumrah</p></div>
  </body>
  </html>
